name: Lint Docs
on:
  pull_request:
    branches:
      - main
      - track/**

jobs:
  lint-docs:
    name: Lint Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Install uv
        run: sudo snap install astral-uv --classic

      - name: Lint docs
        run: uvx tox -e lint-docs
