name: Test docs

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-docs:
    name: Test docs
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: set up uv
      run: sudo snap install astral-uv --classic
    - name: test docs
      run: uvx tox -e check-docs

