# This workflow tests the starter pack.
# Don't run this workflow on any repos that use the starter pack.

name: Test starter pack

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-docs:
    name: Test on docs folder
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Build docs
      run: make -C docs html
    - name: Run link check
      if: success() || failure()
      run: make -C docs linkcheck
    - name: Run spelling check
      if: success() || failure()
      run: make -C docs spelling CONFIRM_SUDO=y
    - name: Clean up
      if: success() || failure()
      run: make -C docs clean
